body {
    background-color: #121020
}
.first {
    margin: 0;
    margin-bottom: 15px;
    font-size: 156px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    text-emphasis-color: white;
  }