@import url('https://fonts.googleapis.com/css?family=Righteous');
body {
  background-color: #121020;
}
.one {
    color: #94979D;
    margin: 0;
    margin-bottom: 15px;
    font-family: Righteous;
    font-size: 100px;
    font-weight: 300;
    position: absolute;
    font-size: 80px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 30%;
    height: 30%;
    width: 50%;
    
  }
  .embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    }
  .gembed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 80%;
    left: 35%;
    }
 
